<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduccion a VueJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    <div id="app">
        <!-- sin uso de directiva v-text -->

        <!-- <h1>{{mensaje}}</h1> -->

        <!-- con uso de directiva v-text -->
        <!-- <h1 v-text="mensaje"></h1> -->

        <!-- para agregar un input -->
        <!-- <input type="text" v-model="mensaje"> -->
        <!-- ------------------------------------------- -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h1>Agregar Nota</h1>
                    <label>Nombre</label>
                    <input type="text" class="form-control" v-model="nombre">
                    <label>Promedio</label>
                    <input type="number" max="20" min="0" class="form-control" v-model="promedio">
                    <br>
                    <!-- directiva v-on escucha eventos y ejecuta un metodo especifico -->
                    <input type="button" value="Guardar" class="btn btn-success" v-on:click="agregarNota">

                </div>
                <div class="col-md-6 col-xs-12">
                    <h1>Lista de Notas </h1>
                    <table class="table">
                        <tr>
                            <th>Nombre</th>
                            <th>Promedio</th>
                        </tr>
                        <!-- v-for permite trabajar con los datos de una api -->
                        <!-- v-bind permite usar un estilo css -->
                        <tr v-for="item in lista" v-bind:style="item.estado==false?'color:red':''">
                            <td v-text="item.nombre"></td>
                            <td v-text="item.promedio"></td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <p class="text-center">
                        xaviercv93
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="js/vue.js"></script>
<script src="js/principal.js"></script>

</html>